{% extends 'catalog/home.html' %}
{% block content %}
{% load my_tags %}
    <div class="container">
        <div class="col-12 mb-5">
            <div class="btn-group">
                {% if user.is_authenticated %}
                    <a class='btn btn-outline-primary' href="{% url 'catalog:edit' object.pk %}">Изменить</a>
                    <a class='btn btn-outline-danger' href="{% url 'catalog:delete' object.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.preview| mymedia }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                        <li> Категория: {{object.category}}</li>
                        <li> Цена: {{object.cost}} рублей</li>
                        <li> Дата создания продукта: {{ object.created_at|truncatechars:100 }}</li>
                        <li> Дата последнего изменения продукта: {{ object.updated_at|truncatechars:100 }}</li>
                    </div>
                    <div class="card-footer">
                        <a class="p-2 btn btn-outline-primary" href="#">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <div class="card-body">
                        <li>{{ object.description }}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
