{% extends 'catalog/home.html' %}
{% block content %}
{% load my_tags %}
    <div class="container">
        <div class="col-12 mb-5">
            <a class='btn btn-outline-primary' href="{% url 'catalog:create' %}">Добавить товар</a>
        </div>
        <div class="row text-center">
            {% for object in object_list %}
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="{{ object.preview| mymedia }}"
                             alt="Card image cap">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                        </div>
                        <div class="card-body">
                            <li> Категория: {{ object.category }}</li>
                            <li> Описание продукта: {{ object.description|truncatechars:100 }}</li>
                            <li> Цена: {{ object.cost|truncatechars:100 }} руб.</li>
                            <li> Дата последнего изменения продукта: {{ object.updated_at|truncatechars:100 }}</li>
                            <li>Активная версия: {{ object.active_version }}</li>
                        </div>
                        <div class="btn-group">
                                    <a href="{% url 'catalog:view' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="{% url 'catalog:edit' object.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="{% url 'catalog:delete' object.pk %}" type="button"
                                       class="btn btn-sm btn-outline-danger">Delete</a>

                        </div>
                        <div class="card-footer">
                            <h6 class="text-muted"></h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}